@media screen and (max-width: $mobile) {
    html {
        font-size: 50%;
    }

    .container {
        grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
        grid-template-rows: 5rem calc(100vh - 5rem) repeat(6, min-content);
    }

    .nav-btn {
        width: 2.5rem;
        right: 2rem;
        top: 2.5rem;

        &::after,
        &::before {
            width: 2.5rem;
        }

        &::after {
            transform: translateY(.8rem);
        }
        
        &::before {
            transform: translateY(-1rem);
        }
    }

    .header {

        padding: 6rem 2rem 4rem;
        
        &__seenon-logos {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            img {
                margin: 2rem;
            }

            img:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    .realtors {
        grid-column: 1 / -1;
        padding: 3rem 1rem;


        &__list {
            grid-template-columns: max-content max-content;
            grid-column-gap: 3rem;
        }
    }

    .feature__icon {
        align-self: center;
    }

    .features,
    .homes {
        padding: 6rem 0;
    }

    .story {

        
        &__pictures {
            grid-column: 1 / -1;

        }

        &__img--1 {
            width: 100%;
            grid-column: 2 / 6;
            grid-row: 1 / 4;
            box-shadow: 0 2rem 5rem rgba(#000, .1);
        }
        
        &__img--2 {
            width: 100%;
            grid-column: 2 / 6;
            grid-row: 4 / 7;
            z-index: 10;
            box-shadow: 0 2rem 5rem rgba(#000, .2);
        }

        &__content {
            grid-column: 1 / -1;
            grid-row: 5 / span 1
        }
    }
}