@media screen and (max-width: $tab) {
    .container {
        grid-template-rows: 6rem 60rem 20vh repeat(5, min-content);
    }

    .header {
        grid-column: 1 / -1;
    }

    .realtors {
        grid-column: 1 / -1;
        padding: 3rem 1rem;


        &__list {
            grid-template-columns: repeat(6, max-content);
            grid-column-gap: 3rem;
        }
    }

    .copyright {
        width: 90%;
    }
}